@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Montserrat", sans-serif;
}

nav ul {
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
}

nav {
    background-color: #303E38;
    flex-wrap: wrap; /*Deixa responsivo, quando o fim choca com o ínicio, o "fim" quebra.*/
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px; /*Assim das espaço entre todos os li e fica um espaçamento legal!*/
}

.menu li a {
    display: block; /*A tag <a> fica com display block*/
    padding: 20px; /*Para formatarmos bem o padding*/
    background-color: #419371;
}

/* CSS FLEXBOX 1 */

